.recommend-wrap{
background: linear-gradient(#003a70, #326195);
height: 100vh;
color: white;  
display: flex;
justify-content: center;
flex-direction: column;
padding: 50px
}

form{
    margin: 0 auto -10px;
    width: 50%;
    border: solid;
    border-width: 4px;
    border-color: #FF9E1B; 
    /* margin-bottom: 60px; */
}
.suzie {
    height: 500px;
}

.container_one{
    border: 1px #ccc solid;
    background-color: white;
    padding: 20px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
/* .box1{
    border: 1px #ccc solid;
    background-color: aquamarine;
    margin:10px;
    padding: 10px;
    flex: 1;
    order: 3;
}
.box2{
    border: 1px #ccc solid;
    background-color: aquamarine;
    margin:10px;
    padding: 10px;
    flex: 2;
    order:2;
}
.box3{
    border: 1px #ccc solid;
    background-color: aquamarine;
    margin:10px;
    padding: 10px;
    flex: 4;
} */